.game h1 {
    font-size: 1.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: #ecfa00;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 7px solid #ecfa11;
    display: flex;
}

.letter, .blankSquare {
    font-size: 1em;
    line-height: 1.5;
    border: 2px solid #000;
    height: 1.7em;
    width: 2em;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.form-blok {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 0.5em;
    text-transform: uppercase;
}
